# see https://github.com/sigoden/aichat/blob/main/config.example.yaml

model: copilot:gpt-5-mini
clients:
- type: azure-openai
  name: azure
  models:
  - name: gpt-5
  - name: gpt-5.1-codex
  - name: text-embedding-3-small
    type: embedding
- type: openai-compatible
  name: copilot
  api_base: https://api.githubcopilot.com
  models:
  - name: gpt-5-mini
  - name: gpt-5.1-codex-max
  - name: gpt-5.1-codex-mini
  - name: gpt-5.2
  - name: gpt-5.2-codex
  - name: gemini-3-pro-preview
  - name: gemini-3-flash-preview
  - name: claude-haiku-4.5
  - name: claude-sonnet-4.5
  - name: claude-opus-4.5
  patch:
    chat_completions:
      '.*':
        headers:
          Copilot-Integration-Id: vscode-chat
          Editor-Version: aichat/0.1.0
rag_embedding_model: azure:text-embedding-3-small
